<p id="notice"><%= notice %></p>

<p>
  <strong>User Name:</strong>
  <%= @user.email %>
</p>

<em>Contributed to:<em>
<br>
<ul class="list-group">
  <% @contributions.each do |c| %>
  <li class="list-group-item"><%= link_to c.topic, issue_path %></li>
  <% end %>
</ul>

<%= link_to 'Back', issues_path %>
